main{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 0;
}
    
.magnet{
    width:90%; 
    max-width: 500px; 
    font-size: 12px;
}

.magnetInput{
    min-width: 200px;
    max-width: 400px;
}